{% extends 'layouts/blank.html' %}

{% block content %}
    
<div class="flex flex-row">
    <div class="basis-1/4">
        <ul>
            <li hx-post="{%  url 'users-list' %}" hx-trigger="click" hx-target="#chat-lists"  >
                Private Chats
            </li>
            <li>Group Chats</li>
            <li>Search People</li>
            <li>Favorite Chats</li>
        </ul>
    </div>
    <div class="basis-1/4" id="chat-lists">
        List of chats
    </div>
    <div class="basis-1/2">
        Chat View
    </div>
  </div>

{% endblock %}